.container{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.players{
    margin-top: 50px;
    width: 600px;
    height: 400px;
    background-color: bisque;

}
#players{
    display: flex;
    justify-content: center;
padding: 20px;
gap: 20px;
}
.player-1-div{
    width: 150px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}
.player-2-div{
    width: 150px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}
.winner{
    margin: 0 auto;
    background-color: white;
    width: 200px;
    padding: 8px;
    border-radius: 25px;

}
.btn{
    margin-top: 40px;
}
